extends layout


block content
	.inner
		.addPage
			h2.addPage__title What do you want to add?
			.addPage__links
				a.addPage__link(href="/addBand") Add Band
				a.addPage__link(href="/addAlbum") Add Album
				a.addPage__link(href="/addPedal") Add Pedal				