extends layout

include mixins/_albumCard
include mixins/_pagination

block content
	.outer
		h2.title--albums.nexa-rust=title
		.albums
			each album in albums
				+albumCard(album)
		+pagination(page, pages, count, 'albums')

