extends layout

block meta 
	meta(name="description" content="Loomernescent is a curated depository of guitar orientated music thats on the effected side of indie. Discover bands, albums and fx pedals from subgenres such as shoegaze, dreampop and noise rock.")
	meta(name="keywords" content="shoegaze, guitar, fx, pedals, effects, noise, distortion, dreampop, loomer, loomernescent, indie, rock, reverb")
	meta(property="og:url" content="http://loomernescent.com/")
	meta(property="og:title" content="Music on the effected side of indie")
	meta(property="og:description" content="Loomernescent is a curated depository of guitar orientated music thats on the effected side of indie. Discover bands, albums and fx pedals from subgenres such as shoegaze, dreampop and noise rock.")
	meta(property="og:image" content="http://loomernescent.com/images/loomernescent_site.jpeg")

block content
	//- pre= h.dump(hero)
	- const links = ['Art Of Fighting', 'The Jesus and Mary Chain', 'Lush', 'Swervedriver', 'Loveless', 'MBV', 'Lush', 'Swervedriver', 'Loveless', 'Art Of Fighting', 'The Jesus and Mary Chain', 'Pychocandy']
	.hero
		.hero__link-wrapper
			each link in hero
				a.hero__link(href=`${link.type}/${link.slug}`)
					img(src=`/images/Ripple-1s-200px.svg` data-src=`/uploads/${link.img}` alt=`${link.name}`)
			.hero__background
				.hero__layer--left
				.hero__layer--center
				.hero__layer--right
			h2.hero__slogan Tune in Turn on Space Out		
	//- .discover
	//- 	.discover__slogan-wrapper
	//- 		h2.discover__slogan Tune in Turn on Space Out
