extends layout

include mixins/_bandCard
include icons/_pick

block content
	.inner
		h2 #{tag || 'Tags'}
		ul.tags
			each t in tags
				li.tag
					a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
						+pick(t._id, t.count)
						//- span.tag__text= t._id
						//- span.tag__count= t.count
		.bands
			each band in bands
				+bandCard(band)