mixin bandcamp()
	svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='32px', height='32px', viewbox='0 0 516 516', enable-background='new 0 0 516 516', xml:space='preserve')
		g
			path(fill='#61919B', d='M258,0C115.511,0,0,115.511,0,258s115.511,258,258,258s258-115.511,258-258S400.489,0,258,0z\
			M329.358,329.998c-13.385,0-27.725-3.354-34.229-16.81h-0.378v14.052h-20.653V186.267l-76.204,140.665H34.408l76.346-140.93\
			h163.347h0.142h21.654v52.215h0.386c5.928-9.887,18.355-16.021,29.446-16.021c31.162,0,46.273,24.534,46.273,54.404\
			C372.002,304.085,358.618,329.998,329.358,329.998z M428.871,329.998c-30.978,0-47.995-22.742-47.995-52.807\
			c0-30.856,16.254-54.989,48.76-54.989c22.944,0,42.454,11.867,44.55,36.99h-21.761l-0.035-0.001\
			C450.667,246.729,441.874,240,429.828,240c-11.288,0-27.154,6.135-27.154,37.192c0,17.012,7.265,35.015,26.197,35.015\
			c12.618,0,21.41-8.714,23.519-23.351h21.796C470.17,315.361,454.302,329.998,428.871,329.998z')
			path(fill='#61919B', d='M322.854,239.998c-18.348,0.002-27.723,14.444-27.723,36.2c0,20.565,10.138,36.004,27.726,36.004\
			c19.889,0,27.345-18.202,27.345-36.004C350.188,257.609,340.819,240,322.854,239.998z')
