mixin pick(name, count)
	svg.tag__pick(version='1.1', shape-rendering='optimizeQuality', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='225px', height='240px', viewbox='0 0 450 480', enable-background='new 0 0 450 480', xml:space='preserve')
		g
			path(fill='none',stroke-width='6', stroke-miterlimit='10', d='M30.537,136.357c0.029-0.268,0.057-0.533,0.088-0.8\
			C30.531,136.34,30.514,136.509,30.537,136.357z')
			path(fill='none',stroke-width='6', stroke-miterlimit='10', d='M221.366,475.422\
			c-0.066-0.016-0.132-0.025-0.197-0.042C221.275,475.405,221.335,475.419,221.366,475.422z')
			path(fill='none',stroke-width='6', stroke-miterlimit='10', d='M221.169,475.38\
			c-0.457-0.148-0.905-0.312-1.351-0.481C219.248,474.726,219.165,474.721,221.169,475.38z')
			path.tag__body(fill='#1EC144', stroke-width='6', stroke-miterlimit='10', d='M417.287,140.379\
			C409.226-4.345,217.569-6.873,113.471,27.094c5.516-1.799-6.939,2.879-4.438,1.947c-8.842,3.295-17.317,7.569-25.208,12.744\
			c-5.62,3.686-10.864,7.758-15.846,12.267c-23.875,21.659-33.137,50.46-37.354,81.505c0.783-5.763-0.521,6.697-0.432,5.177\
			c-0.476,8.179-0.057,16.225,0.632,24.384c1.587,18.798,7.139,37.074,13.083,54.878c11.548,34.59,26.017,68.148,43.185,100.32\
			c16.989,31.836,37.995,61.475,61.232,89.04c19.217,22.796,41.163,49.639,67.736,63.814c10.889,5.81,20.035-2.062,28.634-8.813\
			c14.307-11.232,27.188-24.702,39.402-38.133c24.312-26.729,46.609-55.646,65.185-86.674c18.647-31.152,33.438-64.261,46.446-98.099\
			C408.058,209.382,419.205,175.171,417.287,140.379C416.994,135.119,417.433,143.019,417.287,140.379z M381.359,266.701\
			C381.623,266.423,382.271,266.529,381.359,266.701C381.41,266.646,381.536,266.668,381.359,266.701z')
			text(x='50%' y='60%' font-size='40' font-family='Panama' text-anchor='middle' style='fill: #363171; stroke: #363171') #{name}		
			text(x='50%' y='80%' font-size='55' font-family='Panama' text-anchor='middle' style='fill: #363171; stroke: #363171') #{count}			
		g
			path(d='M322.514,191.426c0-22.682,0-45.362-0.003-68.043c-0.002-22.604-0.036-45.208,0.053-67.812\
			c0.009-2.214-0.664-2.677-2.735-2.667c-15.846,0.073-31.691,0.083-47.537-0.029c-2.206-0.016-2.507,0.768-2.501,2.672\
			c0.067,24.39,0.077,48.781,0.079,73.171c0.002,28.043-0.012,56.084-0.041,84.125c-0.002,1.431-0.072,2.452,1.984,2.44\
			c16-0.096,32-0.106,48-0.033c2.094,0.009,2.792-0.498,2.75-2.684C322.425,205.521,322.514,198.473,322.514,191.426z\
			M308.103,203.648c-7.69-0.088-15.386-0.042-23.079-0.042c-3.256,0-3.144,0.005-3.115-3.189c0.068-8.081,0.117-16.165,0-24.245\
			c-0.109-7.449,0.012-14.899-0.147-22.352c-0.112-5.248,0.089-10.545,0.13-15.818c0.068-8.759,0.028-17.52,0.029-26.278\
			c0.002-14.855,0.041-29.711-0.044-44.566c-0.011-2.039,0.501-2.65,2.589-2.617c7.846,0.124,15.697,0.112,23.544,0\
			c1.979-0.029,2.445,0.509,2.44,2.407c-0.063,22.38-0.04,45.052-0.04,67.052c0.005,0,0.011,0,0.017,0\
			c0,22-0.023,44.849,0.044,67.229C310.476,203.129,309.899,203.67,308.103,203.648z')
			path(d='M251.62,88.003c-0.002-10.877-0.033-21.754,0.06-32.63c0.016-1.917-0.479-2.476-2.453-2.464\
			c-15.537,0.089-31.077,0.037-46.616,0.068c-3.855,0.007-3.635-0.854-3.637,3.512c-0.007,30.223-0.004,60.445-0.02,90.669\
			c-0.008,15.848-0.046,31.697-0.07,47.545c-0.641,0.926-0.643,1.85,0.007,2.773c0.003,5.131,0.005,10.263,0.008,15.394\
			c-0.572,0.769-0.62,1.606,0.012,2.292c0.711,0.771,1.606,0.748,2.469,0.146c1.373,0.002,2.748,0.005,4.121,0.006\
			c0.488,0.294,0.978,0.385,1.47,0.011c13.904-0.021,27.808-0.087,41.712-0.021c2.236,0.011,3.019-0.434,3.012-2.924\
			C251.6,170.92,251.62,129.461,251.62,88.003z M239.545,134c-0.004,0,0.455,0,0.455,0c0,21,0,44.462,0,66.607\
			c0,3.119-0.227,3.059-3.342,3.064c-7.764,0.016-15.645-0.085-23.407,0.021c-1.802,0.025-2.328-0.833-2.52-2.308\
			c-0.24-1.854-0.055-3.773,0.167-5.532c0.49-3.881-0.336-7.701,0.03-11.584c0.396-4.212-0.245-8.513-0.215-12.772\
			c0.036-5.32,0.329-10.636,0.296-15.963c-0.069-11.478,0.007-22.957,0.019-34.435c0.009-9.455,0.292-18.923-0.086-28.363\
			c-0.271-6.793,0.292-13.567-0.089-20.356c-0.106-1.892-0.032-3.837-0.16-5.76c-0.092-1.392,0.177-2.153,2.045-2.117\
			c8.155,0.158,16.315,0.125,24.474,0.03c1.843-0.021,2.373,0.501,2.369,2.338C239.525,89.25,239.545,112,239.545,134z')
			path(d='M181.077,190.587c0.911-3.506,0.003-6.907-0.267-10.349c-0.025-4.939-0.071-9.879-0.073-14.818\
			c-0.008-28.71-0.005-57.419-0.006-86.129c-0.001-8.077-0.034-16.154,0.025-24.231c0.012-1.548-0.324-2.16-2.048-2.152\
			c-16.153,0.067-32.308,0.067-48.461,0.006c-1.755-0.007-2.236,0.521-2.233,2.246c0.05,29.433,0.047,58.866,0.043,88.3\
			c-0.003,22.212-0.024,44.423-0.037,66.635c-0.266,0.338-0.463,0.708-0.511,1.145c-0.101,1.001-0.105,2.003,0.033,2.999\
			c0.491,1.894,2.05,1.596,3.408,1.619c10.012,0.173,20.024,0.079,30.038,0.092c5.666,0.008,11.333,0.068,16.999-0.034\
			c2.63-0.048,3.514-0.891,3.46-3.304c-0.132-5.894-0.028-11.783,0.115-17.672C181.601,193.434,180.711,191.996,181.077,190.587z\
			M166.304,203.659c-6.035-0.058-12.073-0.104-18.109,0.224c-2.23,0.122-4.483-0.202-6.729-0.278\
			c-1.527-0.053-1.701-1.024-1.671-2.231c0.101-4.007,0.458-8.032,0.2-12.018c-0.448-6.923,0.045-13.841,0.093-20.743\
			c0.042-6.18-0.336-12.363-0.098-18.559c0.163-4.256,0.019-8.583-0.097-12.877c-0.149-5.599,0.305-11.213,0.173-16.812\
			c-0.118-5.018,0.296-10.021-0.139-15.06c-0.364-4.221,0.233-8.516,0.224-12.777c-0.02-8.668,0.192-17.343-0.359-26.003\
			c-0.098-1.542,0.199-2.073,2.026-2.035c8.153,0.172,16.312,0.134,24.468,0.06c1.755-0.016,2.399,0.366,2.394,2.305\
			C168.607,89.228,168.634,112,168.634,134c0.014,0,0.366,0,0.366,0c0,21,0,43.261,0,64.935c0,0.777-0.244,1.582-0.16,2.349\
			C169.039,203.11,168.156,203.678,166.304,203.659z')
		g#Layer_2(display='none')
			path(display='inline',d='M443.915-59.921c0.005,48.64,0.006,97.278,0.005,145.918\
			c0,15.112-0.188,30.229,0.104,45.337c0.091,4.688-1.407,5.773-5.897,5.754c-34.312-0.156-68.624-0.134-102.935,0.071\
			c-4.412,0.026-4.261-2.165-4.258-5.231c0.062-60.135,0.094-120.271,0.089-180.405c-0.006-52.306-0.022-104.611-0.17-156.916\
			c-0.013-4.085,0.634-5.765,5.362-5.731c33.98,0.24,67.964,0.221,101.945,0.062c4.439-0.021,5.884,0.972,5.865,5.72\
			C443.836-156.869,443.91-108.395,443.915-59.921z')
			path(display='inline', d='M192.986,137.223c-2.946-0.004-5.893-0.009-8.839-0.013\
			c-1.849,1.291-3.77,1.341-5.293-0.311c-1.355-1.47-1.253-3.269-0.025-4.916c-0.006-11.004-0.012-22.009-0.018-33.013\
			c-1.392-1.979-1.389-3.962-0.014-5.947c0.053-33.986,0.134-67.974,0.151-101.96c0.032-64.812,0.025-129.625,0.042-194.438\
			c0.002-9.362-0.471-7.515,7.797-7.531c33.323-0.065,66.646,0.045,99.97-0.146c4.233-0.024,5.294,1.174,5.259,5.285\
			c-0.197,23.323-0.129,46.648-0.127,69.974c0.002,88.907-0.043,177.814,0.161,266.722c0.013,5.341-1.663,6.294-6.461,6.271\
			c-29.815-0.141-59.635-0.001-89.451,0.045C195.082,138.047,194.032,137.854,192.986,137.223z')
			path(display='inline',d='M26.831,126.032c0.028-47.633,0.073-95.265,0.08-142.897\
			c0.009-63.119,0.015-126.239-0.093-189.358c-0.006-3.698,1.026-4.831,4.79-4.816c34.641,0.131,69.283,0.131,103.924-0.014\
			c3.697-0.016,4.417,1.295,4.392,4.616c-0.128,17.32-0.056,34.642-0.055,51.963c0.003,61.567-0.003,123.135,0.014,184.703\
			c0.003,10.593,0.102,21.186,0.156,31.778c0.578,7.38,2.525,14.673,0.572,22.193c-0.785,3.021,1.121,6.104,1.043,9.332\
			c-0.308,12.628-0.529,25.26-0.247,37.897c0.115,5.174-1.781,6.983-7.421,7.085c-12.149,0.22-24.303,0.089-36.454,0.073\
			c-21.473-0.026-42.945,0.173-64.416-0.197c-2.912-0.05-6.255,0.589-7.309-3.472c-0.297-2.138-0.288-4.284-0.071-6.433\
			C25.84,127.553,26.262,126.759,26.831,126.032z')
			path(display='inline',d='M169.983,186.98c0.037-3.262,0.23-6.53,0.067-9.781c-0.148-2.963,1.107-4.234,3.954-4.186\
			c11.821,0.023,23.642,0.044,35.462,0.072c10.629,0.026,20.063,2.647,26.272,12.188c0.977,1.498,1.835,3.072,3.334,5.601\
			c0-5.096,0.128-9.266-0.041-13.425c-0.133-3.235,1.133-4.404,4.378-4.388c17.317,0.091,34.637,0.061,51.955-0.02\
			c2.729-0.013,3.94,0.839,3.78,3.74c-0.274,4.978,1.453,11.107-0.869,14.655c-2.646,4.046-9.205,1.216-14.023,1.363\
			c-3.704,0.113-4.389,1.527-4.363,4.785c0.125,15.818-0.058,31.641,0.149,47.457c0.051,3.895-0.985,5.439-5.017,5.125\
			c-3.924-0.307-7.902-0.249-11.836-0.006c-3.605,0.223-4.457-1.305-4.422-4.668c0.155-14.985,0.084-29.974,0.079-44.961\
			c-0.001-7.588-0.015-7.575-7.353-7.502c-2.997,0.029-5.996,0.058-8.991-0.037c-2.536-0.08-3.522,0.696-3.199,3.509\
			c1.19,10.386-3.515,18.26-11.458,24.277c-2.249,1.704-2.745,2.473-1.162,4.938c4.395,6.843,8.33,13.979,12.701,20.837\
			c1.977,3.1,0.926,3.584-2.078,3.543c-6.326-0.082-12.655-0.057-18.982,0.002c-2.013,0.018-3.451-0.531-4.437-2.473\
			c-3.153-6.21-7.705-11.599-10.348-18.15c-1.753-4.343-6.274-5.811-10.766-4.395c-2.035,0.642-1.779,2.167-1.784,3.6\
			c-0.021,5.495-0.065,10.993,0.089,16.484c0.092,3.277-0.999,5-4.534,4.968c-4.816-0.044-9.635,0.192-14.453,0.242\
			c-3.256,0.034-1.896-2.56-1.904-3.954c-0.115-18.649-0.097-37.299-0.117-55.949C170.066,189.31,170.013,188.145,169.983,186.98z')
			path(display='inline',d='M37.985,173.054c15.613,0.028,31.229,0.177,46.841,0.003\
			c3.99-0.044,5.342,1.249,5.056,5.16c-0.285,3.898-0.062,7.834-0.062,12.844c5.69-6.335,10.533-11.969,17.377-15.301\
			c16.53-8.051,36.979-4.527,49.852,8.676c0.571,0.585,1.237,1.076,1.858,1.612c1.311,1.727,2.622,3.453,3.934,5.18\
			c0.844,0.308,1.121,0.957,1.09,1.795c4.971,12.139,6.19,24.199,0.056,36.442c-8.973,17.908-32.44,27.405-51.253,20.499\
			c-23.917-8.778-32.938-30.068-25.423-52.716c0.993-2.994,0.767-4.408-2.74-4.289c-3.494,0.119-7,0.152-10.491,0.002\
			c-3.098-0.134-4.161,1.3-4.062,4.201c0.49,14.294-0.717,28.609,0.628,42.901c0.245,2.595-0.427,5.274-0.659,7.916\
			c-0.157,1.795-1.404,1.975-2.835,2.043c-5.306,0.252-10.613-0.396-15.938,0.537c-3.123,0.549-2.103-2.353-2.111-3.891\
			c-0.085-15.322-0.068-30.645-0.079-45.967c-0.001-1.166-0.039-2.334,0.022-3.497c0.179-3.368-0.361-4.94-4.72-4.416\
			c-14.428,1.736-14.459,1.481-14.408-12.821C29.941,173.24,29.941,173.24,37.985,173.054z')
			path(display='inline',d='M301.003,211.56c0-11.158,0.122-22.318-0.067-33.473c-0.064-3.816,0.955-5.131,5.047-5.08\
			c17.983,0.223,35.975,0.146,53.961-0.028c3.724-0.036,5.604,0.659,5.114,4.914c-0.397,3.453-0.339,7.008-0.031,10.479\
			c0.348,3.924-1.36,4.764-4.917,4.7c-10.988-0.196-21.982-0.045-32.974-0.15c-3.125-0.029-5.321,0.038-5.372,4.321\
			c-0.051,4.282,1.749,4.912,5.372,4.814c7.989-0.215,15.989,0.023,23.981-0.14c3.064-0.062,4.114,0.95,3.923,4.047\
			c-0.245,3.979-0.169,7.997,0.06,11.981c0.18,3.114-1.073,4.06-4.055,4.013c-8.324-0.131-16.655,0.064-24.979-0.097\
			c-2.949-0.057-4.209,0.724-4.175,3.881c0.034,3.052,0.784,4.19,4.178,4.495c11.782,1.056,23.565,0.317,35.343,0.521\
			c2.945,0.051,3.802,1.122,3.604,3.852c-0.18,2.486-0.104,4.995-0.059,7.492c0.162,8.953-0.938,8.557-9.077,8.311\
			c-16.312-0.493-32.613-0.189-48.912-0.196c-5.005-0.001-6.161-1.541-6.04-6.18c0.285-10.818,0.092-21.649,0.092-32.476\
			C301.014,211.56,301.009,211.56,301.003,211.56z')
			path(display='inline', fill='#2B2928', d='M406.799,229.877c-6.693,4.345-8.731,12.096-13.688,17.672\
			c-1.642,1.846-3.18,2.434-5.491,2.525c-6.151,0.244-12.325-0.565-18.453,0.41c-0.673,0.107-1.416,0.314-1.751-0.371\
			c-0.648-1.322,0.453-2.104,1.119-3.037c7.325-10.271,14.494-20.658,22.006-30.79c2.744-3.701,2.708-6.232-0.217-10.013\
			c-7.307-9.444-13.986-19.373-20.878-29.135c-0.694-0.983-2.492-1.714-1.479-3.272c0.835-1.283,2.437-0.775,3.728-0.78\
			c5.998-0.02,11.997,0.058,17.993-0.01c2.004-0.022,3.398,0.498,4.557,2.312c2.941,4.607,6.217,9.002,9.17,13.603\
			c3.179,4.953,3.862,4.996,6.978,0.212c2.808-4.312,5.842-8.476,8.657-12.782c1.613-2.465,3.633-3.479,6.648-3.358\
			c5.656,0.227,11.328,0.053,16.994,0.088c0.943,0.007,2.141-0.375,2.723,0.677c0.644,1.162-0.57,1.71-1.126,2.46\
			c-6.848,9.232-14.095,18.169-19.772,28.241c-4.591,8.144-4.729,8.037,1.103,15.657c6.561,8.572,11.988,17.962,18.927,26.268\
			c0.582,0.696,1.142,1.901,0.938,2.662c-0.396,1.466-1.938,0.907-3.012,0.916c-6.312,0.048-12.624-0.042-18.935,0.052\
			c-2.242,0.033-3.578-0.751-4.832-2.7C414.844,241.381,410.696,235.563,406.799,229.877z')
			path(display='inline', fill='#2C2A28', d='M266.359,497.969c-9.014-0.409-17.207-2.68-23.659-9.722\
			c-7.918-8.641-8.083-23.343,0.272-31.645c2.651-2.633,3.355-4.241,1.096-7.845c-6.445-10.27-1.823-23.236,9.459-28.161\
			c14.141-6.172,26.959-4.325,35.781,5.153c5.771,6.203,6.649,16.092,1.442,22.741c-2.528,3.229-1.771,5.06,0.771,7.551\
			c9.4,9.219,8.67,21.842,2.225,29.479C287.027,493.484,277.755,498.72,266.359,497.969z')
			path(display='inline', fill='#2F2D2B', d='M206.312,498.062c-8.365-0.256-15.054-1.093-20.99-4.946\
			c-13.88-9.013-15.72-26.307-3.979-37.975c1.527-1.518,2.688-2.469,0.874-4.816c-9.26-11.986-1.344-25.557,8.69-30.141\
			c10.915-4.985,25.921-4.573,34.311,4.303c6.72,7.107,8.06,17.521,2.181,25.237c-1.881,2.47-1.887,3.659,0.442,5.511\
			c11.935,9.478,9.326,30.646-5.54,37.919C216.881,495.805,211.354,498.991,206.312,498.062z')
			path(display='inline',d='M443.961,187.465c-0.011-9.145,8.497-17.518,17.642-17.359\
			c9.927,0.171,19.889,8.258,19.174,16.507c-0.989,11.408-6.813,18.724-19.816,18.966\
			C451.882,205.746,443.974,197.082,443.961,187.465z')
			path(display='inline',d='M150.872,485.336c-0.008-9.454-0.008-9.454,9.42-9.413\
			c10.571,0.046,10.571,0.046,10.75,10.606c0.151,8.989-0.3,9.44-9.33,9.318c-0.166-0.002-0.333,0.012-0.497-0.007\
			C149.388,494.624,150.894,497.413,150.872,485.336z')
			path(display='inline',d='M417.998-36.77c0,47.994-0.054,95.988,0.097,143.982c0.014,4.076-1.225,5.041-5.078,4.997\
			c-16.495-0.189-32.993-0.091-49.491-0.09c-6.984,0-6.743,0.01-6.687-6.842c0.147-17.33,0.256-34.665,0.001-51.992\
			c-0.234-15.976,0.027-31.952-0.314-47.935c-0.241-11.252,0.188-22.612,0.276-33.921c0.147-18.784,0.062-37.569,0.064-56.354\
			c0.006-31.857,0.089-63.715-0.095-95.571c-0.023-4.373,1.074-5.683,5.551-5.612c16.827,0.266,33.663,0.24,50.49-0.002\
			c4.242-0.061,5.244,1.283,5.233,5.354c-0.132,47.995-0.085,95.99-0.085,143.985C417.974-36.77,417.986-36.77,417.998-36.77z')
			path(display='inline',d='M265.973-37.124c0,47.489-0.002,94.979,0.002,142.468c0,6.691,0.012,6.731-6.672,6.745\
			c-16.648,0.034-33.299-0.098-49.945,0.132c-3.863,0.054-4.866-1.747-5.277-4.906c-0.517-3.976-0.057-8.07,0.42-11.843\
			c1.052-8.323-0.688-16.505,0.098-24.83c0.851-9.032-0.51-18.252-0.447-27.387c0.078-11.408,0.711-22.806,0.643-34.229\
			c-0.148-24.613,0.02-49.229,0.043-73.843c0.02-20.277,0.63-40.579-0.181-60.823c-0.583-14.567,0.628-29.095-0.19-43.654\
			c-0.229-4.057-0.068-8.228-0.342-12.352c-0.197-2.985,0.38-4.617,4.385-4.539c17.489,0.339,34.99,0.27,52.484,0.064\
			c3.951-0.047,5.09,1.089,5.08,5.029c-0.119,47.989-0.077,95.979-0.077,143.968C265.986-37.124,265.979-37.124,265.973-37.124z')
			path(display='inline',d='M114.013-37.257c0,46.481,0.001,92.962-0.001,139.443c0,1.666-0.174,3.349,0.006,4.994\
			c0.426,3.917-1.115,5.091-5.088,5.053c-12.942-0.125-25.891-0.226-38.836,0.479c-4.783,0.26-9.615-0.434-14.428-0.6\
			c-3.276-0.112-3.648-2.195-3.584-4.783c0.215-8.593,0.982-17.226,0.43-25.771c-0.962-14.848,0.096-29.685,0.197-44.486\
			c0.092-13.25-0.719-26.51-0.209-39.797c0.351-9.127,0.041-18.405-0.206-27.614c-0.321-12.006,0.651-24.045,0.369-36.054\
			c-0.252-10.76,0.635-21.49-0.297-32.295c-0.78-9.052,0.501-18.263,0.48-27.402c-0.042-18.589,0.411-37.19-0.771-55.763\
			c-0.211-3.307,0.426-4.445,4.345-4.363c17.484,0.369,34.981,0.287,52.472,0.129c3.762-0.034,5.146,0.733,5.133,4.891\
			c-0.156,47.979-0.1,95.959-0.1,143.939C113.955-37.257,113.984-37.257,114.013-37.257z')
			path(display='inline',d='M267.572,461.89c7.344,0.032,11.419,3.35,11.507,9.366\
			c0.082,5.625-5.029,9.713-12.058,9.646c-6.285-0.062-11.162-4.852-11.006-10.812C256.146,465.102,260.716,461.86,267.572,461.89z')
			path(display='inline',d='M267.505,432.849c4.986,0.016,7.62,2.485,7.585,7.114\
			c-0.029,3.794-3.849,7.593-7.714,7.673c-3.548,0.073-7.325-4.492-7.251-8.767C260.197,434.713,262.5,432.834,267.505,432.849z')
			path(display='inline',d='M204.744,480.988c-4.468-0.048-8.197-1.633-10.59-5.414\
			c-1.93-3.052-2.778-6.396-0.359-9.717c2.888-3.965,7.273-4.549,11.572-4.442c2.903,0.071,5.973,0.959,8.02,3.485\
			c2.434,3.004,3.883,6.388,2.02,10.125C213.26,479.329,209.285,480.784,204.744,480.988z')
			path(display='inline',d='M212.043,440.439c-0.007,3.662-3.306,7.185-6.687,7.139\
			c-4.651-0.063-7.996-3.218-8.046-7.589c-0.043-3.836,3.519-8.456,6.669-8.651C207.859,431.098,212.053,435.831,212.043,440.439z')
			path(display='inline',d='M461.181,192.587c2.35,2.947,4.517,5.121,8.581,4.479\
			c-5.021,4.519-12.318,4.089-16.753-0.544c-5.085-5.313-4.788-12.354,0.766-18.16c4.149-4.34,12.184-4.406,16.774-0.139\
			c5.552,5.161,5.947,12.396,0.796,18.246c-1.258-2.982-5.131-4.965-0.792-9.078c1.819-1.725,0.945-6.109-3.147-7.514\
			c-3.434-1.177-6.914-0.774-10.388-0.772c-2.133,0.001-2.161,1.663-2.16,3.208c0,3.33-0.096,6.666,0.079,9.987\
			c0.101,1.873-1.081,4.538,2.663,4.672C460.774,197.086,461.19,195.312,461.181,192.587z')

