mixin albumForm(album = {})
	form.add-band(action=`/addalbum/${album._id || ''}` method="post" class="card" enctype="multipart/form-data")
		label(for="title") Title
		input(type="text" id="title" name="title" value=(album.title))
		label(for="artist") Artist
		input(type="text" id="artist" name="artist" value=(album.artist))
		label(for="bandID") BandID
		input(type="text" id="bandID" name="bandID" placeholder="Leave blank" value=(album.bandID))
		label(for="comments") Comments
		textarea(name="comments")= album.comments
		//- Image upload
		label(for="cover") Cover
		input(type="file" name="cover" id="cover" accept="image/png, image/jpeg")
		if album.cover
			img(src=`/uploads/${album.cover}` alt=album.title width=200)
		label(for="producer") Producer
		input(type="text" name="producer" placeholder="list personnel seperated by comma" value=(album.producer && album.producer.join(',')))
		label(for="mixedBy") mixed By
		input(type="text" name="mixedBy" placeholder="list personnel seperated by comma" value=(album.mixedBy && album.mixedBy.join(',')))
		label(for="engineer") Engineers
		input(type="text" name="engineer" placeholder="list personnel seperated by comma" value=(album.engineer && album.engineer.join(',')))
		label(for="tracks") Track Listing (Fallback if not on spotify)
		input(type="text" name="tracks" placeholder="list tracks seperated by comma" value=(album.tracks && album.tracks.join(',')))
		- const date = h.moment(album.releaseDate).format("YYYY-MM-DD")
		label(for="releaseDate") Release Date
		input(type="date" name="releaseDate" value=(date))
		label(for="label") Label
		input(type="text" name="label" placeholder="label" value=(album.label) )
		label(for="spotifyURL") Spotify URL
		input(type="text" id="spotifyURL" name="spotifyURL" value=(album.spotifyURL) )
		label(for="bandcampURL") Bandcamp URL
		input(type="text" id="bandcampURL" name="bandcampURL" value=(album.bandcampURL) )
		input(type="submit" value="Save -<" class="button")


				