.hero {
  position: relative;
  height: calc(100vh - 335px);
  background: linear-gradient(0deg, $magenta 1%, $red 50%, $pink 99%);

  @media all and (min-width: 1025px) {
    height: calc(100vh - 129px);
  }

  @include elem("spacer") {
    clear: both;
  }

  @include elem("link-wrapper") {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    min-height: 400px;
    height: calc(100vh - 335px);
    height: auto;
    background: linear-gradient(#ffa949, transparent 90%),
      linear-gradient(0deg, $red, transparent 30%),
      #ffa949 url("/images/Lava.jpg") no-repeat center;
    background-size: cover;
    @media all and (min-width: 1025px) {
      height: calc(100vh - 129px);
    }
  }

  @include elem("link") {
    flex: 1 1 16.66%;

    img {
      @include img-responsive();
      width: 100%;
      position: relative;
      z-index: 5;
      filter: grayscale(100%);
      transition: opacity 0.5s, filter 0.5s;
      opacity: 0.15;

      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }

  @include elem("background") {
    z-index: -1;
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
  }

  @include elem("layer") {
    @include mod("left") {
      min-height: 100%;
      z-index: 0;
      flex: 1 1 33%;
      background: linear-gradient(90deg, $black, transparent 90%);
    }

    @include mod("center") {
      z-index: 0;
      flex: 1 1 33%;
    }

    @include mod("right") {
      z-index: 0;
      flex: 1 1 33%;
      background: linear-gradient(270deg, $black, transparent 90%);
    }
  }

  @include elem("slogan") {
    width: 250px;
    @include center(20%);
    font-family: "nexarust", sans-serif;
    font-size: modular-scale(4);
    color: $vapor;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      @include center(15%);
    }

    @media all and (min-width: 1025px) {
      @include center(40%);
      font-size: modular-scale(5);
    }
  }

  /* ================================= 
	  MOBILE
	==================================== */
  @media all and (max-width: 767px) {
    @include elem("link") {
      flex: 1 1 33.3%;
    }
  }

  /* ================================= 
	  TABLET
	==================================== */
  @media all and (min-width: 768px) and (max-width: 1024px) {
    @include elem("link") {
      flex: 1 1 25%;
    }
  }

  /* ================================= 
	  DESKTOP
	==================================== */
  @media all and (min-width: 1025px) {
    @include elem("link") {
      // flex: 1 1 20%;
    }
  }
} // end hero
