.icon {
	fill: $vapor;

	@include elem('facebook') {
		fill: $facebook-blue; 
	}

	@include elem('spotify') {
		fill: $spotify-green;
	}

	@include elem('soundcloud') {
		fill: $soundcloud-orange;
	}

	@include elem('twitter') {
		fill: $twitter-blue;
	}

	@include elem('vimeo') {
		fill: $vimeo;
	}

	@include elem('www') {
		fill: $vapor;
	}

	@include elem('youtube') {
		fill: $youtube;
	}

	@include elem('cross') {
		// fill: $base;
	}	
}