.map {
  // padding: 20px;
  background: white;
  box-shadow: $shad;
}
#map {
  height: 600px;
}

.popup {
  width: 200px;
  text-align: center;
  img {
    width: 100%;
    // max-width: 100px;
    // height: auto;
  }
}
