.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 199;
  justify-content: space-between;
  border-bottom: solid 1px transparentize($ebony, .3);

  h1 {
    font-family: 'nexarust', sans-serif;
    font-weight: normal;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .8);
  }
  // background: $black;
  @include elem('section') {
    display: flex;

    @include mod('search') {
      flex: 1 1 auto;      
    }    
  }
  // &__section {

  //   &--search {
  //     flex: 1 1 auto;
  //   }
  // }
  @include elem('item') {
    display: flex;
  }
  @include elem('link') {
    background: $jet;
    color: white;
    // border-right: 1px solid rgba(255,255,255,0.1); // try this!???
    text-transform: uppercase;
    padding: 1.2rem 2rem 1rem 2rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    border-bottom: 5px solid transparent;
    svg {
      width: 40px;
      transition: all 0.2s;
      fill: white;
      margin-bottom: 1rem;
    }
    &:hover, &--active {
      border-bottom-color: rgba(0,0,0,0.2);
      border-right-color: rgba(0,0,0,0.05);
      svg {
        transform: scale(1.2)
      }
      // background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, $yellow 85%, #48ded4 95%) fixed;
      background: none;
    }
  @include elem('logo') {
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 200px;
        margin: 0;
      }
    }
  }
}

/* ================================= 
  DESKTOP
==================================== */ 

@media all and (max-width: 1200px) {
  .nav {
  @include elem('link') {
      padding-left: 1rem;
      padding-right: 1rem;
      svg {
        width: 30px;
      }
  @include elem('logo') {
        svg {
          width: 100px;
        }
      }
    }
  }
}



/* ================================= 
  TABLET
==================================== */ 

@media all and (max-width: 900px) {
  .nav {
    flex-wrap:wrap;
  @include elem('section') {
      order: 1;
    @include mod('search') {
        border-top: 1px solid $charcoal;
        order: 2;
        width: 100%;
      }
    }
  }
}

/* ================================= 
  MOBILE
==================================== */

@media all and (max-width: 650px) {
  .nav {
  @include elem('section') {
      width: 100%;
    @include mod('user') {
        order: -1;
        // border-bottom: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid $charcoal;
        .avatar {
          min-width: 20px;
          height: 20px;
        }
        svg {
          display: none;
        }
      }
    }
  @include elem('item') {
      width: 33.333333%;
    }
  @include elem('link') {
      width: 100%;
      svg {
        // width: 5px;
        max-width: 100%;
      }
    @include mod('logo') {
        svg {
          width:100%;
        }
      }
    }
  }
  .heart-count:before {
    content: '♥️';
    margin-right: 1rem;
  }
}



video {
    position: absolute; 
    right: 0; 
    top: 0;
    min-width: 100%; 
    min-height: 161px;
    width: auto; 
    height: 161px; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    object-fit: fill;

  @media all and (max-width: 900px) {
        min-height: 252px;
        height: 252px; 
  }    
  // position: fixed;
  // min-width: 100%;
  // // min-height: 100%;
  // width: 1000px;
  // height: 251px;
  // z-index: 1;  
}
