.single {

  @include elem('hero') {
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 3vw));
    &:before {
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      background:
      linear-gradient(45deg, hsla(190, 95%, 43%, 1) 0%, hsla(190, 95%, 43%, 0) 70%),
      linear-gradient(135deg, hsla(219, 93%, 48%, 1) 10%, hsla(219, 93%, 48%, 0) 80%),
      linear-gradient(225deg, hsla(293, 93%, 48%, 1) 10%, hsla(293, 93%, 48%, 0) 80%),
      linear-gradient(315deg, hsla(130, 96%, 45%, 1) 100%, hsla(130, 96%, 45%, 0) 70%);
      opacity: 0.6;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 3vw));
    }
  }
  @include elem('image') {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  @include elem('inner') {
    display: flex;
    flex-direction: column;
  }

  @include elem('details') {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $base-spacing;    
    background: white;
    max-width: 900px;
    margin: 0 auto;        
    // clip-path: polygon(0px 2vw, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    position: relative;
    margin-top: -10rem;
    box-shadow: $big-shadow;
    
    @include mod('margin') {
      margin-bottom: $base-spacing; 
    }
  }

  @include elem('body') {
    display: flex;
    margin-bottom: $base-spacing;
  }

  @include elem('col') {
    flex: 1 1 70%;
  }

  @include elem('lead') {
    color: $charcoal;
    font-size: modular-scale(1);
    // margin-top: 1.5em;
    // margin-bottom: 1.5em;
  }

  @include elem('detail') {
    margin-top: 0;
    margin-bottom: $base-spacing;
  }

  @include elem('img-col') {
    flex: 1 1 30%;
    // max-width: 100%;
  }

  @include elem('detail-img') {
    @include img-responsive();
  }

  @include elem('fullwidth') {
    margin-top: -$base-spacing;
    width: 100%;
    padding: $base-spacing * 2 $base-spacing;

    @include mod('black') {
      background: $black;
    }

    @include mod('ebony') {
      background: $ebony;
    }    
  }

  @include elem('video') {
    padding: $base-spacing;
    width: 100%;
    margin: 0 auto;

    embed,
    object,
    iframe {
      @include position(absolute, 0 null null 0);
      @include size(100%);
    }
  }

  @include elem('video-wrapper') {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;    
  }
  
  @include elem('albums') {
    max-width: 900px;
    margin: 0 auto;
    margin-top: $base-spacing;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
  }

  @include elem('album') {
    padding: $base-spacing;
    flex: 1 1 33.3%;
    max-width: 300px;
    
    img {
      // box-shadow: $small-shadow;
    }
  }

  &__map {
    width: calc(100% + 6rem);
    max-width: none;
    margin-top: -3rem;
    margin-left: -3rem;
  }
  &__location {
    margin: 0 auto;
    // margin-top: -3rem;
    // margin-right: -5rem;
    background: $black;
    color: white;
    display: inline-block;
    // float: right;
    position: relative;
    padding: 1rem;
    @media all and (max-width: 850px) {
      margin-right: 0;
    }
  }
  
  @include elem('gallery') {

    display: flex;
    justify-content: center;
  }

  @include elem('gallery-thumb') {
    // flex: 1 1 auto;
    text-align: center;
  }  

  @include elem('gallery-thumb-img') {

    max-height: 200px;
    box-shadow: $big-shadow;
    border: solid 1px $black;

    &:hover {
      cursor: pointer;
    }
    // width: auto;
  
  }

  /* ================================= 
    MOBILE
  ==================================== */
  @media all and (max-width: 767px) {

  }

  /* ================================= 
    TABLET
  ==================================== */
  @media all and (min-width : 768px) and (max-width : 1024px) {  

    @include elem('video') {
      padding: $base-spacing 0;
      // width: 95%;
      // margin: 0 auto;

      embed,
      object,
      iframe {
        @include position(absolute, 0 null null 0);
        @include size(100%);
      }
    }
  }

  /* ================================= 
    DESKTOP
  ==================================== */
  @media all and (min-width : 1025px) { 

    @include elem('video') {
      padding: $base-spacing 0;
      width: 900px;
      margin: 0 auto;

      embed,
      object,
      iframe {
        @include position(absolute, 0 null null 0);
        @include size(100%);
      }
    }

  }


}
