@font-face {
    font-family: 'panama';
    src: url('/fonts/panama-bold-webfont.woff2') format('woff2'),
         url('/fonts/panama-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexarust';
    src: url('/fonts/NexaRustSans-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


html {
  font-size:10px;
}

body {
  font-size: 1.5em;
  color:$black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 5rem;
  font-family: 'Panama';
  font-weight: 600;
  letter-spacing:-1px;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: $base-line-height;
  font-size: modular-scale(0);
  color: $charcoal;
}

strong {
  color: $jet;
}

.title {
  word-wrap: break-word;
  font-family: 'impact';
  position: relative;
  z-index: 2;
  margin:0;
  font-size: 40px;
  z-index: 2;
  line-height:1.1;
  color: $vapor;
  // transform: skew(0, -3deg);
  &--long {
    font-size: 30px;
  }
  // &:before {
  //   content: '';
  //   width:50px;
  //   left:0;
  //   top:0;
  //   height:100%;
  //   // top:10%;
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   transform:skew(-5deg)
  // }
  line-height:1.1;
  // inline link inside
  a {
    color: $vapor;
    // border-bottom: 0;
    // $yellowa: rgba($yellow,0.8);
    // background-image: linear-gradient(to right, $yellowa 100%, $yellowa 50%);
  }
}

.title--single {
  max-width: 600px;
  margin-top: -9rem;
  font-size: 10rem;
  text-align: center;
}

.title--page {
  font-family: 'nexarust';  
}


// html {
//   color: $base-font-color;
//   font-family: $base-font-family;
//   font-size: 100%;
//   line-height: $base-line-height;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $heading-font-family;
//   font-size: modular-scale(1);
//   line-height: $heading-line-height;
//   margin: 0 0 $small-spacing;
// }

// p {
//   margin: 0 0 $small-spacing;
// }

// a {
//   color: $action-color;
//   text-decoration-skip: ink;
//   transition: color $base-duration $base-timing;

//   &:hover {
//     color: shade($action-color, 25%);
//   }

//   &:focus {
//     outline: $focus-outline;
//     outline-offset: $focus-outline-offset;
//   }
// }

// hr {
//   border-bottom: $base-border;
//   border-left: 0;
//   border-right: 0;
//   border-top: 0;
//   margin: $base-spacing 0;
// }
